<div class="container">

    <h1>{{title}}</h1>

    <button class="btn btn-info" type="button" [routerLink]="['/students/form']"> Add student </button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">SURNAME</th>
                <th scope="col">MAIL</th>
                <th scope="col">NOTE</th>
                <th scope="col">EDIT</th>
                <th scope="col">DELETE</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <th scope="row">{{ student.id }}</th>
                <td> {{ student.name }} </td>
                <td> {{ student.surname }} </td>
                <td> {{ student.mail }} </td>
                <td> {{ student.note }} </td>

                <td><button type="button" name="button" class="btn btn-dark" [routerLink]="['/students/form/', student.id]">Edit</button></td>
                <td><button type="button" name="button" class="btn btn-danger" (click)="delete(student)">Delete</button></td>
            </tr>
        </tbody>
    </table>

</div>